.welcomesect {
    min-height: 696px;
    display: flex;
    align-items: center;
}

.services.servpage {
    padding-top: 130px;
}

.servicesbox {
    text-decoration: none;
}

.serviceswelcome {
    padding: 120px 0 80px;
    background: url('../img/heroservbg.png') no-repeat bottom center / cover;

    h1 {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 46px;
        margin-bottom: 30px;
        color: #202020;
        font-weight: 600;
        line-height: 130%;
        text-transform: uppercase;
    }

    .descr {
        max-width: 580px;

        p {
            margin: 0;
            font-size: 18px;
            color: #424242;
        }
    }

    .imgwrap {
        text-align: center;
    }

}

.expertisecovers {
    padding: 130px 0 120px;

    h2 {
        text-transform: uppercase;
        color: #202020;
        font-size: 46px;
        line-height: 130%;
        font-weight: 600;
        font-family: "Roboto Condensed", sans-serif;
        margin-bottom: 70px;
        text-align: center;
    }
}

.expertisecover {
    background: #fff;
    border-radius: 20px;
    background: url('../img/whitedots.png') repeat;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;

    img {
        width: 100%;
        max-width: 60px;
        flex: 0 0 60px;
    }

    p {
        margin: 0;
        width: 100%;
        max-width: calc(100% - 60px);
        flex: 0 0 calc(100% - 60px);
        padding-left: 20px;
        text-transform: uppercase;
        color: #202020;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 23px;
        line-height: 130%;
        font-weight: 700;
    }
}

.servinfosect {
    padding: 100px 0 120px;

    .description {
        max-width: 592px;
        padding-left: 30px;

        p {
            color: #424242;
            font-size: 20px;

            span {
                color: #ED3030;
            }
        }

        .redbtn {
            margin-top: 30px;
        }
    }
}





@media(max-width:1599.8px) {
    .serviceswelcome h1 {
        margin-bottom: 20px;
        font-size: 40px;
    }

    .expertisecovers h2 {
        margin-bottom: 40px;
    }

    .expertisecover {
        padding: 15px;
    }

    .expertisecover p {
        font-size: 21px;
    }

    .expertisecovers {
        padding: 100px 0 70px;
    }


    .expertisecovers h2 {
        font-size: 40px;
    }

    .servinfosect .description p {
        margin-bottom: 10px;
    }

    .serviceswelcome .descr p,
    .servinfosect .description p,
    .whushooseus .description p,
    .contectsection.white .contectsection__left p {
        font-size: 16px;
    }

}

@media(max-width:1399.8px) {
    .expertisecovers h2 {
        font-size: 34px;
    }

    .serviceswelcome {
        padding: 100px 0 50px;
    }
}

@media(max-width:1199.8px) {
    .welcomesect {
        min-height: auto;
    }
}

@media(max-width:991.8px) {

    .serviceswelcome,
    .welcomesect.ab,
    .welcomesect {
        padding: 140px 0 40px;
    }

    .servinfosect {
        .imgwrap {
            margin-bottom: 30px;
        }
    }

    .servinfosect .description .redbtn {
        margin-top: 10px;
    }

    .servinfosect {
        padding: 80px 0;
    }

    .servinfosect .description {
        padding-left: 0;
    }
}

@media(max-width:575.8px) {
    .services.servpage {
        padding-top: 70px;
    }

    .serviceswelcome h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .expertisecovers h2 {
        font-size: 28px;

        br {
            display: none;
        }
    }

    .expertisecovers {
        padding: 70px 0 50px;
    }

    .expertisecover {
        padding: 10px;
        border-radius: 10px;
    }

    .expertisecover img {
        max-width: 45px;
        flex: 0 0 45px;
    }

    .expertisecover p {
        font-size: 18px;
        max-width: calc(100% - 45px);
        flex: 0 0 calc(100% - 45px);
    }

    .serviceswelcome {
        // padding-top: 120px;
    }

    .servinfosect .description .redbtn {
        max-width: calc(100% - 30px);
    }

    .servinfosect {
        padding: 70px 0 50px;
    }


}
